.review-scoreboard, .review-scoreboard div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-scoreboard div{
    min-height: 10rem;
    min-width: 31.6%;
    background-color: #363636;
    margin: 0 1rem;
    font-size: 7rem;
    color: #6f6f6f;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}